<h1>Welcome to {{title}}</h1>

<div class="container">
    {{#each productsChunks }}

    <div class="row">
        {{#each this}}
        <div class="col-sm">
            <div class="card">
                <img class="card-img-top" src={{ this }} alt="Product Image">
                <div class="card-body">
                    <h5 class="card-title">{{ this }}</h5>
                    <p class="card-text">RPG game</p>
                    <div class="price">
                        $60
                    </div>
                    <a href="#" class="btn btn-success">Go somewhere</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{/each}}
</div>